<style>
:root {
  --cover-text-color: #ffffff !important;
  --cover-title-and-description-guard-bg-color: rgba(0, 0, 0, 0.45) !important;
  --cover-title-text-shadow: none !important;
  --highlight: #1a3550 !important;
  --highlight-contrast: white !important;
  --highlight-inverse: #0096c7 !important;
  --highlight-inverse-contrast: #1a3550 !important;
  --sticky-menu-text-color: #48cae4 !important;
  --section-dark-bg-color: #0077b6 !important;
  --footer-color-background: #03045e !important;
  --footer-color: #caf0f8 !important;
}

.title-and-description-guard {
  border-radius: 6px !important;
  padding: 0.8em 1.2em !important;
}

#site-languages {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  text-align: right;
  z-index: 10;
}
</style>
